@import url(reset.css);

.layout-content {
  width: 1200px;
  margin: 0 auto;
}
.text--general {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

/* header */
.header {
  width: 100%;
  height: 116px;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: #00122c;
}

.header-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 267px;
  height: 60px;
}

.header-logo img {
  width: 100%;
  height: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav ul {
  display: flex;
  align-items: center;
}

.header-nav li {
  margin-left: 52px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.header-nav li a {
  color: white;
}

.header-nav .active {
  color: #ffa33c;
}

.header-nav li i {
  margin-left: 8px;
}

.header-nav li button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 168px;
  border-radius: 12px;
  background-color: #ffa33c;
  color: white;
  border: none;
  outline: none;
}

.header-nav li button i {
  font-size: 20px;
}

/* footer */
.footer {
  background-color: #4c2f6b;
  margin-top: 100px;
}

.footer-container {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  color: white;
  font-size: 14px;
}

.footer-logo p {
  margin-top: 24px;
}

.footer-col .footer-col--title {
  font-weight: 600;
}

.footer-col hr {
  border: 4px solid #ffa33c;
  border-radius: 4px;
  width: 20%;
  margin: 32px 0;
}

.footer-col ul li {
  margin-bottom: 24px;
}

.footer-col ul li a {
  color: #fff;
}

.footer-col ul span i {
  margin-right: 12px;
}

.footer-license {
  background: #b15eff;
  padding: 12px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

/* customer-list */
.customer-list {
  display: flex;
  justify-content: space-between;
}

.customer-item {
  margin: 0 10px;
}

.customer-item img {
  height: 40px;
}

/* path */
.path {
  margin-top: 116px;
  padding: 12px 0;
  background: #f4f5f7;
}

.path-container {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
}

.path .original-path {
  padding: 0 12px;
  color: #475973;
}

.path .title {
  padding-left: 12px;
  color: #4c2f6b;
  font-weight: 600;
}
